/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

img {
    width: 100%
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav img {
    width: 80px;
}

nav ul {
    display: none;
}

* {
    box-sizing: border-box;
}

nav {
    background-color: #540a51;
}

.icons button {
    background: none;
    border: none;
    width: 10%;
    display: flex;
}


.companies-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: blanchedalmond;
}

.companies-container img {
    width: 100px;
}

header {
    background-color: #540a51;
}

.log-button {
    padding: 5px;
    margin: 2px;
}

.log-div {
    display: flex;
    flex-direction: column;
    margin: 30px 10px;

}


.google-logo {
    background: none;
    border: none;
    width: 15px;
}

.bg-color {
    background-color: aqua;
}

.section3 h3 {
    color: #540a51;
    background-color: ;
    font-size: solid;
    text-align: center;
    display: flex;
    justify-content: center;

}

.section3 ul {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 
@media screen and (max-width:768px) {
    body {
        background-color: red;
    }

    .companies-logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
    }
} */